<div class="toolbar">
  <div class="toolbar__nav">
    <button mat-stroked-button (click)="today.emit()">Today</button>
    <button mat-icon-button (click)="prev.emit()" aria-label="Previous period"><mat-icon>chevron_left</mat-icon></button>
    <button mat-icon-button (click)="next.emit()" aria-label="Next period"><mat-icon>chevron_right</mat-icon></button>
    <span class="toolbar__period">{{ periodLabel }}</span>
  </div>

  <div class="toolbar__right">
    <mat-button-toggle-group [value]="viewMode" (change)="viewModeChange.emit($event.value)" aria-label="Calendar view">
      <mat-button-toggle value="month">Month</mat-button-toggle>
      <mat-button-toggle value="week">Week</mat-button-toggle>
      <mat-button-toggle value="day">Day</mat-button-toggle>
    </mat-button-toggle-group>

    <button mat-flat-button color="primary" [matMenuTriggerFor]="newMenu" class="toolbar__new">
      <mat-icon>add</mat-icon>
      New
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #newMenu="matMenu">
      <button mat-menu-item (click)="newDiaryEntry.emit()">
        <mat-icon>edit_note</mat-icon>
        <span>Diary Entry</span>
      </button>
      <button mat-menu-item (click)="newReminder.emit()">
        <mat-icon>notifications</mat-icon>
        <span>Reminder / Follow-up</span>
      </button>
      <button mat-menu-item (click)="newPromise.emit()">
        <mat-icon>handshake</mat-icon>
        <span>Promise to Pay</span>
      </button>
    </mat-menu>
  </div>
</div>
